
<div class="container">
  <app-menu></app-menu>
  <router-outlet></router-outlet>
<!-- 
  <h2>Install json-server</h2>
  <pre>
    npm install -g json-server
     >>>>> create db.json file  with object of courses
     >>>>> fake some data https://www.mockaroo.com/
    json-server --watch db.json

  </pre> -->

<hr>
<h3>מה נותר לעשות ? </h3>
<ul>
  <li>✅ מסך כניסה</li>
  <li>מסך ראשי✅ </li>
  <li>מסך קורסים - CRUD✅  </li>
  <li>אוטנטיקציה ✅ </li>
  <li>שמירה לשרת לוקאלי ✅ </li>
  <li>קוביה לדוגמא בדאשבורד</li>
  <li>אוטנטיקציה עם גארד</li>
  <li>תפריט רק לפי אוטנטיקציה</li>
 
  <li>מסך סטודנטים - CRUD</li>
  <li>העלאה לאינטרנט</li>
</ul>

</div>
