<h1>Login to system</h1>
<p class="text-muted"><small>Small hint : abc@gmail.com a12345</small></p>
<div class="row">
    <div class="col-12">

        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
            <ngb-alert [type]="'danger'" *ngIf="loginForm.submitted && !isAuthenticated" [dismissible]="false">
                <strong>Wrong Credentials!</strong> Email and password does not match our records.
              </ngb-alert>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email"
                       class="form-control"
                       id="exampleInputEmail1"
                       aria-describedby="emailHelp" 
                       required
                       email 
                       ngModel 
                       #email="ngModel" 
                       name="email" 
                       placeholder="your@email.com">
                <div 
                    class="text-danger"
                    *ngIf="email.touched && email.invalid"  >
                    Please fill valid email.
                </div>
                
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password"
                       class="form-control"
                       id="exampleInputPassword1"
                       required 
                       ngModel 
                       minlength="6"
                       #password="ngModel"
                       name="password"
                       placeholder="password">
                <div 
                       class="text-danger"
                       *ngIf="password.touched && password.invalid"  >
                       Please fill your password (at least 6 charaters).
                   </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>